.chat {
  height: 100%;
  position: relative;

  --pva__accordion-chevron--down: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMi4xNDY0NSA0LjY0NjQ1QzIuMzQxNzEgNC40NTExOCAyLjY1ODI5IDQuNDUxMTggMi44NTM1NSA0LjY0NjQ1TDYgNy43OTI4OUw5LjE0NjQ1IDQuNjQ2NDVDOS4zNDE3MSA0LjQ1MTE4IDkuNjU4MjkgNC40NTExOCA5Ljg1MzU1IDQuNjQ2NDVDMTAuMDQ4OCA0Ljg0MTcxIDEwLjA0ODggNS4xNTgyOSA5Ljg1MzU1IDUuMzUzNTVMNi4zNTM1NSA4Ljg1MzU1QzYuMTU4MjkgOS4wNDg4MiA1Ljg0MTcxIDkuMDQ4ODIgNS42NDY0NSA4Ljg1MzU1TDIuMTQ2NDUgNS4zNTM1NUMxLjk1MTE4IDUuMTU4MjkgMS45NTExOCA0Ljg0MTcxIDIuMTQ2NDUgNC42NDY0NVoiIGZpbGw9IiM2MTYxNjEiLz48L3N2Zz4=');
}
